@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap')

$blue: hsl(223, 87%, 63%)
$paleBlue: hsl(223, 100%, 88%)
$lightRed: hsl(354, 100%, 66%)
$gray: hsl(0, 0%, 59%)
$black: hsl(0, 0%, 0%)
$veryDarkBlue: hsl(209, 33%, 12%)
$fontFamily: 'Libre Franklin', sans-serif

@mixin displayFlex
    display: flex
    justify-content: center
    place-content: center
    align-items: center
    text-align: center
    
body
    @include displayFlex
    font-family: $fontFamily
    padding: 1cm


#logo
    min-width: 2%

#secondLogo
    width: 50%
    margin-top: 1cm

.title-content
    font-weight: 300
    color: $gray
    font-size: 40px
    margin-top: 0.6cm

.title-word
    color: $black
    font-weight: 700

.description-content
    font-weight: 300
    color: $veryDarkBlue
    font-size: 15px
    margin-top: -0.5cm

.notifyUser
    width: 10cm
    height: 1cm
    border-radius: 20px
    text-indent: 0.5cm
    font-family: inherit
    font-weight: 300
    border-style: solid
    border-color: $gray
    border-width: 0.01cm

.btn-notify
    width: 5cm
    height: 1cm
    border-radius: 20px
    border-style: none
    background-color: $blue
    font-family: inherit
    font-weight: 700
    color: white  
    transition: 0.5s
    cursor: pointer

.btn-notify:hover
    height: 1.1cm
     