@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    font-family: "Libre Franklin", "Arial", sans-serif;
}

.logo {
    position: relative;
    top: -6cm;
}

.title {
    font-weight: 300;
    position: relative;
    top: -4cm; 
    font-size: 40px;
    color: hsl(0, 0%, 59%);
}

.title-word {
    font-weight: 700;
    color: black;
}

.description-content {
    position: relative;
    top: -3.5cm;
}

.notification-group {
    position: relative;
    top: -2.5cm;
}

.notify-user {
    width: 9cm;
    height: 1.2cm;
    border-radius: 20px;
    position: relative;
    right: 2.9cm;
    text-indent: 0.6cm;
    outline-color: gray;
    border: 1px solid gray;
    transition-delay: 50ms;
    transition-timing-function: ease-in;
    font-family: inherit;
}

.notify-user:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.btn-notify {
    position: relative;
    left: 4.5cm;
    top: -1.2cm;
    width: 5cm;
    height: 1.2cm;
    border-radius: 20px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    font-family: Inherit;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn-notify:hover {
    background-color: #9fb7f5;
}

.img-dashboard {
    width: 544px;
    position: absolute;
    left: 13cm; 
    top: 9cm
}